html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
@font-face {
    
  src: local("AirbnbCerealLight"),
    url("../public/fonts/Mont-Regular.ttf") format("truetype");
    font-family: "Mont-Regular"; 

}
@font-face {
  src: local("AirbnbCerealBold"),
    url("../public/fonts/Mont-Bold.ttf") format("truetype");
    font-family: "Mont-Bold";
  
}
@font-face {
  font-family: "Acme-Regular";  
  src: local("AirbnbCerealLight"),
    url("../fonts/Acme-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sans-serif";  
  src: local("AirbnbCerealLight"),
    url("../fonts/SansSerif.ttf") format("truetype");
}