html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "Mont-Regular";   
  src: local("AirbnbCerealLight"),
    url("../fonts/Mont-Trial-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mont-Bold";  
  src: local("AirbnbCerealLight"),
    url("../fonts/FontsFree-Net-Mont-Bold.ttf") format("truetype");
}