
.select {

  appearance: none;
    font-family: sans-serif;
    width: 100%; 
    height: 53px;
    font-size: 15px;
    font-weight: 400;
    padding: 14px 12px;
    display: inline-block;

    border: 1px solid#eef0f2;
    border-radius: 2px;

  
    outline: none;
    background-color: #f6f7f8;
    color: #677784;
  }
  

.input::placeholder{
  color: #c6cdd2;
}
.textarea::placeholder{
  color: #c6cdd2;
}


.input
 {
  width: 100%;
  height: 53px;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 20px;
  font-weight: 400;
  padding: 14px 12px;
  margin: 8px 0px;

  border: 1px solid#eef0f2;
  border-radius: 1.5px;
 
  outline: none; 
  box-sizing: border-box;
  background-color: #f6f7f8;
  color: #677784;
} 

.textarea
{
 width: 100%;

 font-size: 15px;
 font-family: sans-serif;
 line-height: 20px;
 font-weight: 400;
 padding: 14px 12px;
 margin: 8px 0px;

 border: 1px solid#eef0f2;
 border-radius: 1.5px;

 outline: none; 
 box-sizing: border-box;
 background-color: #f6f7f8;
 color: #677784;
} 

.input:focus {
   outline: 1px solid #e3e8e8;
   transition: 50ms;
  
  }

  .select:focus {
    outline: 1px solid #e3e8e8;
    transition: 50ms;
   
   }

   .textarea:focus {
    outline: 1px solid #e3e8e8;
    transition: 50ms;
   
   }


@media only screen and (max-width: 768px) {
  .input,
  .select
  {
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 14px 12px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #6373810F;
  }

  .input {
    border-radius: 1px;
    color: #7A7A7A;
  }

  /* .input:focus {
    border: 2px solid #69727d;
    transition: all 0.75s ease-in-out
  
  } */

  .input {
    font-family: sans-serif;
    border-radius: 1px;
   
  }


  .select {

    line-height: 20px;
    border-radius: 2px;
  }

 
}