/* Your CSS file (e.g., styles.css) */

/* Default styles */


/* Responsive styles */
@media (max-width: 600px) {
  .responsive_img_Line {
    width: 50%;

  }

  .responsive_img_Mobile {
    width: 50%;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .responsive_img_Line {
    width: 40%;

  }

  .responsive_img_Mobile {
    width: 40%;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .responsive_img_Line {
    width: 27%;

  }

  .responsive_img_Mobile {
    width: 50%;
  }
}

@media (min-width: 1281px) {
  .responsive_img_Line {
    width: 20%;
  }
  .responsive_img_Mobile {
    margin-top: 5%;
    width: 40%;
  }
}

@media (min-width: 1700px)  and (max-width: 1850px) { 
  .responsive_img_Line {
    width: 10%;
  }
  .responsive_img_Mobile {
    margin-top: 14%;
    height: 35%;
    width: 40%;
  }
}

@media (min-width: 1850px)  and (max-width: 2000px) { 
  .responsive_img_Line {
    width: 10%;
  }
  .responsive_img_Mobile {
    margin-top: 10%;
    height: 40%;
    width: 43%;
  }
}

@media (min-width: 2000px)  and (max-width: 2200px) { 
  .responsive_img_Line {
    width: 10%;
  }
  .responsive_img_Mobile {
    margin-top: 8%;
    height: 40%;
    width: 43%;
  }
}

@media (min-width: 2200px) {
  .responsive_img_Line {
    width: 10%;
  }
  .responsive_img_Mobile {
    height: 35%;
    width: 40%;
  }
}