.TextNav {
  /* Add any container styles if needed */
}

.textNavLabel {
  color: #f8f8f8;
  cursor: pointer;
  transition: color 0.3s;
  /* Smooth transition for hover effect */
  font-size: 17px;
  font-weight: 300;
  font-family: "Mont-Regula",Sans-serif
}

.textNavLabel:hover {
  color: #18b0e6;
}