.TextNav {
  /* Add any container styles if needed */
  font-weight: 100;
}

.textNavLabel {
  color: #f8f8f8;
  cursor: pointer;
  transition: color 0.3s;
  /* Smooth transition for hover effect */
  font-size: 16px;
  font-weight: 800;

}

.textNavLabel:hover {
  color: #18b0e6;
}

@media screen and (max-width:1080px) {
  .textNavLabel {
    font-size: 13px;
    font-weight: 800;
  }
}